/* defining variables */
:root {
  --base: #ffc660;
  --spacing: 10px;
  --blur: 0px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  margin-bottom: 2rem;
}

.hl {
  color: var(--base);
}

body {
  margin-top: 2rem;
  text-align: center;
  background: #193549;
  color: white;
  font-family: "Poppins";
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 100px;
  height: 55px;
  overflow: hidden;
  background-color: transparent;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}

/*for the inner "circle" */
input[type="color"]::-webkit-color-swatch {
  border: 3px solid white;
  border-radius: 100px;
}
