body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: "Poppins";
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 100px;
  height: 55px;
  overflow: hidden;
  background-color: transparent;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}

/*for the inner "circle" */
input[type="color"]::-webkit-color-swatch {
  border: 3px solid white;
  border-radius: 100px;
}
